body{
    background: rgb(48, 126, 228);
    width: 1000px;
    height: 1000px;
}
.button{
    width: 120px;
    height: 120px;
    background: none;
}
.Seregan{
    margin:234px;
}
@media (max-height: 600px) {
    body { font-size: 14px; background-color:  rgb(48, 126, 228);width: 700px;height: 600px;}
    img { width: 100%; }
    button{width: 60px;height: 60px;}
  }